# =============================
# DATASET (DO NOT PUSH)
# =============================
dataset/
data/
*.zip
*.tar
*.tar.gz

# =============================
# TRAINED MODELS
# =============================
models/
*.h5
*.hdf5
*.keras
*.pth
*.pt
*.ckpt
*.onnx
*.pb

# =============================
# PYTHON
# =============================
__pycache__/
*.pyc
*.pyo
*.pyd

# =============================
# VIRTUAL ENVIRONMENT
# =============================
venv/
env/
.venv/

# =============================
# JUPYTER
# =============================
.ipynb_checkpoints/

# =============================
# IDE FILES
# =============================
.vscode/
.idea/

# =============================
# SYSTEM FILES
# =============================
.DS_Store
Thumbs.db